/* Titre plat Restaurant */

section h1 {
    display: block;
    text-align: center;
    font-size: 60px;
    color: crimson;
    font-family: "Work Sans", sans-serif;
}

/* Galerie Plat Restaurant */

section .galeriePlatRestaurant {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    margin-top: 150px;
}
section .galeriePlatRestaurant img {
    display: block;
    width: 90%;
    margin: 0px;
    margin-left: 50px;
    padding: 0px;
}

@media screen and (max-width: 428px) {
    /* Titre Section Galerie */
    section h1 {
        font-size: 30px;
        margin-top: 60px;
    }

    /* Galerie Photo Plats */
    section .galeriePlatRestaurant {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        margin-top: 60px;
    }

    section .galeriePlatRestaurant img{
        width:70%;
        display:block;
        margin:auto;
        
    }
}
