/* Body */
body {
    margin: 0px;
    background: linear-gradient(#fb7ba2, #fce043);
}

/* Navigation */

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Logo Restaurant */

header nav .logoHeaderRestaurant {
    width: 15%;
    margin-top: 50px;
}

/* Barre de navigation */

header nav ul {
    margin-right: 20px;
    text-align: right;
}

header nav ul li {
    color: #f1f1f1;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    margin-left: 30px;
    font-size: 25px;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
}

header nav ul li:hover {
    color: crimson;
    opacity: 1;
}

/* Section titre Restaurants */
section .titreRestaurant {
    font-size: 60px;
    color: crimson;
    font-family: "Work Sans", sans-serif;
    margin: 0;
    margin-top: 150px;
    text-align: center;
}

/* Section Bannière */

section .banner img {
    width: 45%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 80px;
    object-fit: cover;
}

/* Section Menu Bouton */

section .buttonMenu {
    display: block;
    margin: auto;
    background: crimson;
    margin-top: 60px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    color: #f1f1f1;
    font-weight: bolder;
    padding: 20px 15px;
    text-decoration: none;
}

/* Section Information Restaurants */

.InformationRestaurant {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.InformationRestaurant .coordonées {
    margin-left: 20px;
}

.InformationRestaurant .coordonées h2 {
    color: crimson;
    font-size: 30px;
}
.InformationRestaurant .coordonées h3 {
    color: black;
    margin: 0px;
    font-size: 30px;
}

.InformationRestaurant .coordonées span {
    display: block;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bolder;
}

/* Section Localisation Restaurants */

.localisationRestaurant h2 {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: crimson;
    
}

/* Section Horaire et téléphone Restaurants */

.InformationRestaurant .horaires h2 {
    font-size: 30px;
    margin:0px;
    margin-top:25px;
    font-weight: bolder;
}
.InformationRestaurant .horaires p {
    font-size: 30px;
    margin:0px;
    margin-top:20px;
    font-weight: bolder;
}

/* Section Adresse Restaurants */

.adresseRestaurant h2 {
    color: crimson;
    font-weight: bolder;
}

.adresseRestaurant span {
    font-size: 30px;
    font-weight: bolder;
}

.adresseRestaurant p {
    font-size: 30px;
    font-weight: bolder;
}

@media screen and (max-width: 428px) {
    /* Responsive mobile */

    /* Navigation */

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header nav ul {
        margin: 0;
        padding: 0;
        margin-top: 25px;
    }

    header nav ul li {
        margin: 0px;
        margin-left: 15px;
        font-size: 20px;
    }

    /* Logo Restaurant */

    header nav .logoHeaderRestaurant {
        width: 35%;
        margin-top: 50px;
    }

    /* Section titre Restaurants */

    section .titreRestaurant {
        font-size: 30px;
        max-width: 300px;
        display: block;
        margin: auto;
        margin-top: 60px;
        text-align: center;
    }

    /* Section Bannière */

    section .banner img {
        width: 100%;
    }

    /* Section Information Restaurants */

    .InformationRestaurant {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
/* Section Coordonées */
    
.InformationRestaurant .coordonées  {
    margin-left:0px;
    margin-right:60px;
}
    .InformationRestaurant .coordonées h2 {
        font-size: 30px;
        text-align:center;
    }
    .InformationRestaurant .coordonées h3 {
        font-size: 30px;
        text-align:center;
    }
    .InformationRestaurant .coordonées span {
        font-size: 25px;
        text-align:center;
        margin:auto;
        margin-top:20px;
    }


    /* Section Horaire */


    .InformationRestaurant .coordonées .horaires h2 {
        font-size: 30px;
        text-align:center;
    }

    .InformationRestaurant .coordonées   h3{
        text-align:center;
        font-size:25px;
        color:crimson;
    }
  
    .InformationRestaurant .coordonées .horaires  {
        display:block;
        margin:auto;
        margin:0;
    }
  
    .InformationRestaurant .coordonées .horaires p{
        display:block;
        font-size: 25px;
        margin-left:-50px;
        text-align:center;
        margin:0px;
        padding:0px;
    }

    /* Section Google Maps */

    .localisationRestaurant iframe{
        display:block;
        margin:auto;
        margin-left:0px;
        width:100%;
    }

    
/* Section adresse */
  .adresseRestaurant{
    display:block;
    text-align:center;
  }

  .adresseRestaurant p{
    margin:0px;
    margin-top:15px
}

}