/* Body */
body {
    margin: 0px;
    background: linear-gradient(#fb7ba2, #fce043);
}

/* Navigation */

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Logo Restaurant */

header nav .logoHeaderRestaurant {
    width: 15%;
    margin-top: 50px;
}

/* Barre de navigation */

header nav ul {
    margin-right: 20px;
    text-align: right;
}

header nav ul li {
    color: #f1f1f1;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    margin-left: 30px;
    font-size: 25px;
    cursor:pointer;
    font-family: "Work Sans", sans-serif;
}

header nav ul li:hover{
    color:crimson;
    opacity:1;
}

/* Section titre Restaurants */
section .titreRestaurant {
    font-size: 60px;
    color: crimson;
    font-family: "Work Sans", sans-serif;
    margin: 0;
    margin-top: 150px;
    text-align: center;
}

/* Section Bannière */

section .banner img {
    width: 45%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 80px;
    object-fit: cover;
}

/* Section Menu Bouton */

section .buttonMenu {
    display: block;
    margin: auto;
    background: crimson;
    margin-top: 60px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    color: #f1f1f1;
    font-weight: bolder;
    padding: 20px 15px;
    text-decoration: none;
}

/* Section Information Restaurants */

.InformationRestaurant {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 100px;
}

.InformationRestaurant .coordonées {
    margin-left: 20px;
}

.InformationRestaurant .coordonées h2 {
    font-family: "Work Sans", sans-serif;
    color: crimson;
}

/* Section Localisation Restaurants */

.localisationRestaurant h2 {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: crimson;
}

/* Section Horaire Restaurants */

.InformationRestaurant .horaires p {
    font-size: 20px;
    font-weight: bolder;
}

/* Section Adresse Restaurants */

.adresseRestaurant h2 {
    color: crimson;
    font-weight: bolder;
}

.adresseRestaurant span {
    font-size: 20px;
}

.adresseRestaurant p {
    font-size: 20px;
}


